[package]
name = "worker"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio.workspace = true
tracing.workspace = true
anyhow.workspace = true
common = { path = "../../crates/common" }
search = { path = "../../crates/search" }
testing = { path = "../../crates/testing" }
